ul {
    list-style: none;
}


ul.weather-display-default-cities {
    display: flex;
}

li.weather-display-default-city-item {
    margin: 20px;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #D2CFE2;
}

.default-city-temp {
    font-size: 2rem;
    font-weight: bold;
}


#weather-request-form-coordinate {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #D2CFE2;
    margin: 20px;
    padding: 5px;
}


input, select {
    border: 1px solid #D2CFE2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.current-weather-display {
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #D2CFE2;
    padding: 12px 15px;
}

.current-temperature {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

.hourly-weather-display {
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    align-self: center;
}


.hourly-weather-display thead tr {
    background-color: #D2CFE2;
    /*color: #ffffff;*/
    text-align: left;
}

.hourly-weather-display th,
.hourly-weather-display td {
    padding: 12px 15px;
}

.hourly-weather-display tbody tr {
    border-bottom: 1px solid #dddddd;
}

.hourly-weather-display tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.hourly-weather-display tbody tr:last-of-type {
    border-bottom: 2px solid #D2CFE2;
}


/* Inspiration taken from here: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */