@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A Weather application that may help your daily needs.</p>
    <div>
        <p>Search by coordinates</p>
        <p>Or...</p>
        <p>Search by municipality</p>
    </div>
    <div class="weather-display-container">
        <div class="weather-info">
            <ul class="weather-display-default-cities">
                @for (var i=0; i < @Model.displayLocations.Count; i++)
                        {
                            <li class="weather-display-default-city-item" id=@Model.apiCityValues[i]>
                            <h2 class="city-name">@Model.displayLocations[i]</h2>
                            <div class="weather-display-default-city-weather-info">
                                <div>Description:
                                    <span class="default-city-description"></span>
                                </div>
                                <div>
                                    <span class="default-city-temp"></span>
                                </div>
                                <div>Cloud Cover:
                                    <span class="default-city-cloud"></span>
                                </div>
                                <div>Wind Speed:
                                    <span class="default-city-wind-speed"></span>
                                </div>
                            </div>
                            </li>
                        }
            </ul>
        </div>
    </div>
</div>
